body {
    font-family: Arial;
}
.container {
    width: 1280px;
    margin: 0 auto;
    min-height: 100%;
}
.padding-site {
    padding: 50px;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.header {
    width: 1280px;
    height: 323px;
    background-color: #445161;
    color: #ffffff;
}
.page-header-wrp {
       float: left;
}
.header-title {
  margin: 0;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 59px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
    
}
.header-list {
    
  padding: 0 0 0 25px;
  list-style: none;
  width: 422px;
  height: 127px;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
  line-height: 1.8;
  color: #ffffff;
}
.header-list-item {
  position: relative;
}
.header-list-item:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 11px;
  left: -20px;
  background-image: url(../img/list.png);
  -webkit-background-size: cover;
  background-size: cover;
}
.header-img {
  display: block;
  width: 400px;
  height: 200px;
  background-color: #fff;
  float: right;
}

.about {
    height: 344px;
    display: flex;
    justify-content: space-between;
}
.about-wrp {
    width: 653px;
    }
.about-title {
  width: 254px;
  height: 28px;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #445161;
}
.about-p {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
}
.about-img {
  display: block;
  width: 400px;
  height: 200px;
  background-color: #445161;
  float: right;
}
.dignity {
  padding: 50px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}
.dignity:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
    }
.dignity-title {
  display: block;
  margin: 0 0 24px 0;
  text-align: center;
  font-size: 30px;
  color: rgb(68, 81, 97);
  line-height: 1.2;
}
.dignity-list {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0;
  padding: 0 0 0 46px;
  list-style-type: none;
  float: left;
}
.dignity-list-item {
  
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  margin: 0 0 40px 0;
  position: relative;
}
.dignity-list:nth-child(3){
  float: right;
}

.dignity-list:nth-child(2) > .dignity-list-item:nth-child(3),
.dignity-list:nth-child(3) > .dignity-list-item:nth-child(3) {
  margin: 0;
}
.dignity-list-item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: -46px;
}
.screenshots-img {
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 20px 0 0;
  background-color: #445161;
  }
.screenshots {
  padding: 50px;
  width: 100%;
/*  height: 487px;*/
    height: 100%;
  box-sizing: border-box;
}
.screenshots-wrp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.screenshots-title {
  display: block;
  margin: 0 0 24px 0;
  text-align: center;
  font-size: 30px;
  color: rgb(68, 81, 97);
  line-height: 1.2;
}
.screenshots-figure-p {
  
  width: 349px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  margin: 0 0 0 0;  
}
.screenshots-item {
  width: 48%;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.screenshots-figure-title {
  font-size: 24px;
  width: 310px;
  height: 23px;
  line-height: 1.25;
  color: #445161;
  margin: 0 0 20px 0;
}
.screenshots-item-txt {
  width: 80%;
  box-sizing: border-box;
  }
.reviews {
  width: 100%;
  background-color: #f5f5f5;
  min-height: 424px;
  box-sizing: border-box;
  }
.reviews-title {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #445161;
  line-height: 1.2;
  margin-bottom: 30px;
}
.reviews-wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    
  width: 100%;
  flex-direction: row;
}
.reviews-comment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48%;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    align-items: flex-start;
}
.reviews-comment:nth-child(3),
.reviews-comment:nth-child(4){
  margin: 0;
}
.reviews-avatar {
  display: block;
  width: 75px;
  height: 75px;
  background-color: #445161;
  border-radius: 50%;
}
.reviews-p {
    margin: 0;
    padding: 16px;
    background-color: #ebebeb;
    min-height: 100px;
    width: 436px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    box-sizing: border-box;
    position: relative;
    }
.reviews-p:before {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right: 20px solid #ebebeb;
    position: absolute;
    top: 20px;
    left: -40px;
}
.reviews-author {
    display: block;
    margin: 5px 0 0 0;
}
.prices {
  padding: 50px;
  box-sizing: border-box;
  min-height: 656px;
/*  background-color: #f5f5f5;*/
      
}
.prices-title {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #445161;
    line-height: 1.2;
    margin-bottom: 30px;
}
.prices-wrp {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-end;
    box-sizing: border-box;
}
.prices-box {
    background-color: #445161;
    width: 300px;
    min-height: 306px;
    border-radius: 10px;
    text-align: center;
    margin: 0 20px 0 0;
    border: 2.0px solid #445162;
    box-sizing: border-box;
    
}
.prices-box-title {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    margin: 15px;
    box-sizing: border-box;
    }
.prices-box-price {
    background-color: #ffffff;
    width: 294px;
    height: 71px;
    border: 2.0px solid #445162;
    /*display: block;*/
    font-size: 40px;
    color: #445162;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prices-box-list {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
}

.prices-box-button {
    text-transform: uppercase;
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
        
}
.prices-box-button:hover {
    background-color: #445161;
    color: aliceblue;
}
.prices-box-button:active {
    background-color: navy;
    color: aliceblue;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 50px;
  background-color: #445161;
  box-sizing: border-box;
}
.footer-title {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  font-family: Arial;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  margin: 0 46px 0 0;
}
.footer-form input[type="text"],
.footer-form input[type="email"],
.footer-form textarea {
  width: 100%;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 10px;
  background-color:  #ffffff;
  outline: none;

}
.footer-form input[type="text"],
.footer-form input[type="email"]
{
  text-transform: capitalize;
}
.footer-form input[type="text"]:hover,
.footer-form input[type="email"]:hover,
.footer-form textarea:hover {
  background-color: #f5f5f5;
  border-color: white;
}


.footer-form textarea {
  width: 500px;
  height: 170px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
}


.footer-form input[type="submit"] {
  border-radius: 10px;
  background-color:  #ffffff;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  color:  #445162;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  outline: none;
}

.footer-form input[type="submit"]:hover {
  background-color: #445161;
  color: aliceblue;
}

.footer-form input[type="submit"]:active {
   background-color: navy;
   color: aliceblue;
}

.footer-contacts {
  width: 241px;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.footer-contacts-link {
  display: block;
  margin: 0 0 15px 0;
  padding: 0 0 0 30px;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.footer-contacts-link:last-of-type {
  margin: 0 0 32px 0;
}

.footer-contacts-link:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 1px;
  left: 0;
}

.footer-contacts-link:nth-of-type(1):before {
  background-image: url('../img/skype_icon_319.png');
}

.footer-contacts-link:nth-of-type(2):before {
  background-image: url('../img/icq_icon_324.png');
}

.footer-contacts-link:nth-of-type(3):before {
  background-image: url('../img/email_icon_332.png');
}

.footer-contacts-link:nth-of-type(4):before {
  background-image: url('../img/phone_icon_337.png');
}


.footer-contacts-icons {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  }

.footer-contacts-net {
  display: block;
  width: 42px;
  height: 42px;
  box-sizing: border-box;
}

.copyright {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #445162;
  box-sizing: border-box;
  align-items: center;
}